nodeREDFlow.txt
[{"id":"40c23cb2.7c3364","type":"watson-speech-to-text","z":"2b0bb8e1.12f4a8","name":"Capture speech","continuous":true,"lang":"en-US","langhidden":"en-US","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"XTfdaEyakA54","x":219,"y":182,"wires":[["e04d8048.56eae"]]},{"id":"c50baf25.17fd6","type":"websocket in","z":"2b0bb8e1.12f4a8","name":"Audio socket","server":"c4bc4b45.c91388","client":"","x":117,"y":100,"wires":[["40c23cb2.7c3364"]]},{"id":"19f7b0cd.2b59ff","type":"websocket out","z":"2b0bb8e1.12f4a8","name":"Audio out","server":"c4bc4b45.c91388","client":"","x":397,"y":357,"wires":[]},{"id":"e04d8048.56eae","type":"function","z":"2b0bb8e1.12f4a8","name":"Clean up return","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":266,"wires":[["19f7b0cd.2b59ff"]]},{"id":"c4bc4b45.c91388","type":"websocket-listener","z":"","path":"/ws/audioin","wholemsg":"false"}]
